
@using Borg.Framework.GateKeeping.Models
@model IPagedResult<Borg.Framework.GateKeeping.Models.BorgUser>

@section contentheader
{
    <section class="content-header">
        <h1>
            @Content.Page.Title
            <small>@Content.Page.Subtitle</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Dashboard</li>
        </ol>
    </section>
}



<div class="box box-default">
    <div class="box-header">
        <div class="row">
            <div class="col-md-4">
                @Html.Partial("Partials/UserSearch")
            </div>
        </div>
    </div>

    @Html.Partial("Partials/UserList", Model)


    <div class="box-footer">
        <ul class="pull-right" pagination model="@Model" query="@ViewContext.HttpContext.Request.QueryString" settings="@Pagination.PaginationInfo.DefaultPager" url-generator="@Url.PagerAnchorGenerator(Device.Device)"></ul>
    </div>
</div>

