@using Borg.Client.Controllers
@model Borg.Infra.Relational.IPagedResult<HomeController.Mod>

@{
    if (_device.Device.Path.Length > 0) { Layout = _device.Device.Path; }
    Func<int, string> _generator = (i) => Url.Action("Index", "Home", new { p = i });
}

<h2>@ViewBag.Title</h2>
<ul>
    @foreach (HomeController.Mod o in Model.Records)
    {
        <li>
            <strong>@o.Id</strong>
            @o.Name
        </li>
    }
</ul>
<div>
    <ul style="float: left;" pagination model="@Model" query="@ViewContext.HttpContext.Request.QueryString" settings="@Pagination.PaginationInfo.DefaultPager" url-generator="@_generator"></ul>
</div>
<div>
    @Html.HtmlPager(Model, (i) => Url.Action("Index", "Home", new { p = i }), ViewContext.HttpContext.Request.QueryString, Pagination.PaginationInfo.PagerInChucks)
</div>

<div>
    <h1>

        @ViewBag.Id
    </h1>
    @{ Html.RenderPartial("Partial"); }
</div>

<div>
    @await Component.InvokeAsync("MyComponent")
</div>