@model AssetSpec
<div class="box box-default">
    <form asp-controller="Media" asp-action="NewVersion" method="post" enctype="multipart/form-data">
        <div class="box-header">
            <input type="hidden" asp-for="Id" />
        </div>
        <div class="box-body">
            <input type="file" name="File" />
        </div>
        <div asp-validation-summary="All" class="text-danger box-footer"></div>
        <div class="box-footer">
            <button type="submit" class="btn btn-default pull-right">Create</button>
        </div>
    </form>
</div>
<div class="box box-default">

    <div class="box-body">
        <div class="box-body table-responsive">
            <table class="table table-hover table-condensed sever-table">
                <thead>
                    <tr>
                        <th style="width: 10px;"></th>
                        <th>File</th>
                        <th>Size</th>
                        <th>Created On</th>
                        <th>Mime</th>
                        <th></th>
                </thead>
                <tbody>
                    @foreach (VersionSpec v in Model.Versions.OrderByDescending(x => x.Version))
                    {
                        <tr>
                            <td>@v.Version</td>
                            <td>@v.FileSpec.Name</td>
                            <td>@v.FileSpec.SizeInBytes.BytesDisplay()</td>
                            <td>@v.FileSpec.CreationDate.ToLocalTime().ToString("d/M/yy HH:mm")</td>
                            <td>@v.FileSpec.MimeType</td>
                            <td>
                                @if (Model.CurrentFile.Version != v.Version)
                                {
                                    <form asp-controller="Media" asp-action="RestoreVersion" method="post">
                                        <input type="hidden" name="Id" value="@Model.Id"/>
                                        <input type="hidden" name="Version" value="@v.Version" />
                                        <input type="hidden" name="RedirectUrl" value="@Device.Device.Path"/>
                                        <button type="submit" class="btn btn-default btn-xs pull-right">
                                            <span class="glyphicon glyphicon-upload"></span>
                                        </button>
                                    </form>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>