
@using Borg.Framework.GateKeeping.Models
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore
@using Microsoft.EntityFrameworkCore
@model Borg.Infra.Relational.IPagedResult<Borg.Framework.GateKeeping.Models.BorgUser>
@inject BorgSettings _settings;
@inject RoleManager<IdentityRole> _roleManager;
@{
    var roles = await _roleManager.Roles.ToDictionaryAsync(r => r.Id, r => r.Name);
}
<div class="box-body table-responsive">
    <table class="table table-hover table-condensed sever-table">
        <thead>
            <tr>
                <th style="width: 36px;"></th>
                <th>Email</th>
                <th>Name</th>
                <th>Roles</th>
                <th>Locked</th>
        </thead>
        <tbody>
            @foreach (BorgUser u in Model.Records)
            {
                <tr>
                    <td>
                        <a asp-controller="Users" asp-action="Details" asp-route-id="@u.Id">
                            @if (u.Claims.Any(x => x.ClaimType.Equals(BorgClaims.Profile.Avatar)))
                            {
                                <img src="@u.Claims.First(x => x.ClaimType.Equals(BorgClaims.Profile.Avatar)).ClaimValue" class="img-thumbnail" width="32" />
                            }
                            else
                            {
                                <img src="@_settings.Backoffice.Application.Logo" class="img-thumbnail" width="32" />
                            }
                        </a>
                    </td>
                    <td style="vertical-align:middle;">@u.Email</td>
                    <td style="vertical-align:middle;">@u.UserName</td>
                    <td style="vertical-align:middle;">
                        @if (u.Roles.Any())
                        {
                            <concat-text data="@roles.Where(r => u.Roles.Select(ur => ur.RoleId).Contains(r.Key)).Select(r => r.Value)"></concat-text>
                        }
                    </td>
                    <td style="vertical-align:middle;">@u.LockoutEnabled</td>

                </tr>
            }
        </tbody>
    </table>
</div>