
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Framework.Backoffice</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    @Html.Partial("_HeadScriptsPartial")
    @RenderSection("headscripts", required: false)
</head>
<body class="skin-black-light">
    <div class="wrapper">


 
         
                @RenderBody()
      

 

    </div>



    @Html.Partial("_BottomScriptsPartial")
    @RenderSection("bottomscripts", required: false)
</body>
</html>
